.header {
    text-align: center;
    font-size: 5em;
    color: #009;
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
    border: 10px solid blue;
}
p {
    text-align: center;
    font-size: 5em;
    color: #009;
    background-color: yellow;
    font-family: Lucida Sans; 
    
}
h1 {

}